:root {
  --purple: rgb(44, 71, 191);
  --purple-transparent: rgba(44, 71, 191, 0.1);
  --blue: rgb(2, 126, 175);
  --blue-transparent: rgba(0, 140, 182, 0.1);
  --green: rgb(50, 138, 9);
  --green-transparent: rgba(50, 138, 9, 0.1);
  --gray: #C4C4C4;
  --hover: all 0.2s ease-in-out;
}