@font-face {
    font-family: "Avenir";
    src: url("/fonts/AvenirNext-Thin.eot")format("embedded-opentype"),
            url("/fonts/AvenirNext-Thin.woff")format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/AvenirNext-ThinItalic.eot")format("embedded-opentype"),
            url("/fonts/AvenirNext-ThinItalic.woff")format("woff");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Light.eot")format("embedded-opentype"),
            url("/fonts/Avenir-Light.woff")format("woff");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-LightOblique.eot")format("embedded-opentype"),
            url("/fonts/Avenir-LightOblique.woff")format("woff");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Book.eot")format("embedded-opentype"),
            url("/fonts/Avenir-Book.woff")format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-BookOblique.eot")format("embedded-opentype"),
            url("/fonts/Avenir-BookOblique.woff")format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Roman-webfont.eot")format("embedded-opentype"),
            url("/fonts/Avenir-Roman-webfont.woff")format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Oblique-webfont.eot")format("embedded-opentype"),
            url("/fonts/Avenir-Oblique-webfont.woff")format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Medium.eot")format("embedded-opentype"),
            url("/fonts/Avenir-Medium.woff")format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-MediumOblique.eot")format("embedded-opentype"),
            url("/fonts/Avenir-MediumOblique.woff")format("woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Heavy.eot")format("embedded-opentype"),
            url("/fonts/Avenir-Heavy.woff")format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-HeavyOblique.eot")format("embedded-opentype"),
            url("/fonts/Avenir-HeavyOblique.woff")format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-Black.eot")format("embedded-opentype"),
            url("/fonts/Avenir-Black.woff")format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir-BlackOblique.eot")format("embedded-opentype"),
            url("/fonts/Avenir-BlackOblique.woff")format("woff");
    font-weight: 800;
    font-style: italic;
}