// LAYOUT

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section.writing>:nth-child(1) {
    margin-bottom: calc(var(--main-width) * 0.05);
  }

.across {
  display: flex;
  flex-direction: row;
}

.stacked {
  display: flex;
  flex-direction: column;
}

.one-third-width {
  width: calc(33% - 2% / 2 * 3);
}

.half-width {
  width: calc(50% - 2%);
}

.two-thirds-width {
  width: calc(66% - 2% / 3 * 2);
}

.reverse {
  :nth-child(1) {
    order: 2;
  }
  :nth-child(2) {
    order: 1;
  }
}

video {
  width: 100%;
  max-height: 100vh;
}

img {
  height: auto;
  object-fit: scale-down;
  object-position: top;
}

.img-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


// INFO

.banner {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7vh;
  z-index: -2;

  // for fixed background:
  // position: fixed;
  // top: 0;
  // left: 0;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.banner-text {
  width: 800px;
  // max-width: var(--main-width);
  // width: 100%;
  // margin-left: 7vw;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  color: white;
  // text-shadow: 0px 0px 10px #00000075;
  z-index: -1;

  // for fixed background:
  // position: absolute;


  // h2 {
  //   width: 800px;
  // }

  h3 {
    margin-bottom: 20px;
    // width: 800px;
  }
}

// .banner-text-gradient {
//   content: "";
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
//   background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.247));
//   z-index: 2;
// }

.body-bg {
  background-color: white;
  z-index: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  // for fixed background:
  // justify-content: center;
  // margin-top: 100vh;
  // padding-top: 80px;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .tags-container {
    margin-top: 10px;
  }
}


// CONTENT

.caption {
  h2 {
    margin-bottom: 20px;
  }
}


@media only screen and (min-width: 426px) and (max-width: 1024px) {
  .banner {
    height: 40vh;
  }

  .banner-text {
    top: 20vh;
    width: 100%;
    // padding: 0 7vw;

    h2, h3 {
      width: calc(min(80%, 500px));
    }
  }

  .oversized {
    font-size: calc(min(10vw, 2.3em));
    line-height: 1.4em;
  }
}

@media only screen and (max-width: 425px) {
  .section {
    margin-bottom: 10vh;
  }
  
  .one-third-width,.two-thirds-width {
    width: 100%
  }

  .reverse {
    :nth-child(1) {
      order: 1;
    }
    :nth-child(2) {
      order: 2;
    }
  }
  
  .banner {
    height: 30vh;
  }

  .banner-text {
    width: 85%;
    top: 15vh;
  }

  .oversized {
    font-size: calc(min(5vw, 2.3em));
    line-height: 1.4em;
  }
}