// LAYOUT

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.across {
  display: flex;
  flex-direction: row;
}

.stacked {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.two-thirds-width {
  width: calc(66% - 2% / 3 * 2);
}

.half-width {
  width: calc(50% - 2%);
}

.one-third-width {
  width: calc(33% - 2% / 2 * 3);
}

.reverse {
  :first-child {
    order: 3;
  }
}

video {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.img-container {
  min-height: 1px;
  position: relative;
  
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    max-height: 100%;
  }
}

img {
  // height: auto;
  // max-height: 73vh;
  // max-height: 700px;
  object-fit: contain;
  object-position: top left;
  // min-width
}

.img-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

img.img-bg {
  max-height: 600px;
}


// INFO

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-bottom: calc(min(7vw, 72px));
  z-index: -2;

  video {
    height: 100%;
  }
  
  // transparent black banner overlay
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}

.banner-text {
  width: calc(min(85%, 910px)); // 800px;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  color: white;
  // text-shadow: 0px 0px 10px #00000075;
  z-index: -1;

  h2 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1.2em;
    margin: 20px 0;
  }
}

// gradient at bottom of banner
.body::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 100vh;
  transform: translateY(-100%);
  width: 100%;
  height: 20vh;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.info.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .contributions-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 0;

    .tags-container {
      margin-bottom: 0;
    }
  }
}

.caption {
  height: min-content;
  margin-top: -5px;

  h2 {
    margin-bottom: 20px;
  }
}

.stacked .caption{
  margin-bottom: 2em;
}

@media only screen and (max-width: 1024px) {
  .banner-text h2 {
    font-size: 7vw;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {  
  .info h3,
  .caption.one-third-width,
  .caption.half-width,
  .caption.two-thirds-width,
  div:nth-child(2):nth-last-child(1),
  // img:nth-child(2):nth-last-child(1),
  video:nth-child(2):nth-last-child(1) {
    width: 100%;
  }

  .contributions-container {
    margin-top: calc(min(10vw, 43.2px)) !important;
    width: 100%;
  }

  .reverse {
    :first-child {
      order: unset;
    }
  }

  .caption{
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 425px) {
  .reverse {
    :first-child {
      order: unset;
    }
  }
  
  .section, .info.section {
    margin-bottom: calc(min(25vw, 150px));
  }

  .across {
    flex-direction: column;
    align-items: flex-start !important;

    >* {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  .contributions-container {
    margin-top: calc(min(10vw, 43.2px)) !important;
  }

  .one-third-width, .half-width, .two-thirds-width {
    width: 100%
  }
  
  .banner {
    height: 400px;
  }

  .banner-text {
    width: 85%;
    top: 225px;

    h2 {
      font-size: calc(min(6vw, 2.3em));
      line-height: 1.4em;
    }
  }

  .body::before {
    top: 400px;
  }

  .caption {
    margin-bottom: 2em;
  }
}

@media only screen
and (orientation:landscape)
and (max-device-width: 820px) {
// and (max-device-height: 420px) {
  .banner {
    height: 100vh;
  }

  .body::before {
    top: 100vh;
  }

  .banner-text {
    top: 50vh;

    h2 {
      font-size: 1.5em;
    }
  }
}