:root {
  --hover: all 0.2s ease-in-out 0s;
}

* {
  -webkit-font-smoothing: subpixel-antialiased !important;
  // text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale;
}

/* section heading */
h1 {
  text-transform: uppercase;
  font-size: 1em; // 16px
  font-weight: 700;
  line-height: 1.8em;
  margin: 0 0 30px 0;
}

/* large bold text */
h2 {
  font-size: 2.25em; // 36px
  font-weight: 700;
  line-height: 1.5em;
  margin: 0 0 0px 0;
}

/* non-bold text */
h3 {
  font-size: 1.6em; // 25.6px
  font-weight: 300;
  line-height: 1.7em;
  margin: 0 0 0px 0;
}

/* small text */
p {
  font-size: 1.2em; // 19.2px
  font-weight: 200;
  line-height: 1.7em;
  margin: 0 0 0px 0;
}

a {
  text-decoration: none;
  transition: var(--hover); // off hover
  color: black;
  position: relative;
  
  &:hover {
    color: var(--green) !important;
    transition: var(--hover);
  }

  &:focus {
    outline: none;
  }
}

sup {
  font-size: 0.6em;
  line-height: 1em;
}

.contributions {
  margin-bottom: 10px;
  height: min-content;
  color: black !important;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
  // font-size: 1rem;
  // text-transform: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// scale text by viewport width when in this range
@media only screen and (min-width: 769px) and (max-width: 1250px) {
  h1 {
    font-size: 1.3vw;
    line-height: 1.5em;
    margin: 0 0 30px 0;
  }
  
  h2 {
    font-size: 2.9vw;
    line-height: 1.5em;
  }

  h3 {
    font-size: 2vw;
    line-height: 1.5em;
  }
  
  p {
    font-size: 1.5vw;
    line-height: 1.6em;
  }

  .contributions {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 0 30px 0;
  }
  
  h2 {
    font-size: 1.3em; // 20.8px
    line-height: 1.5em;
  }

  h3 {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  
  p {
    font-size: 1em;
    line-height: 1.6em;
  }
}