:root {
  --hover: all 0.2s ease-in-out 0s;
}

/* section heading */
h1 {
  text-transform: uppercase;
  font-size: 1em; // 16px
  font-weight: 800;
}

/* large text */
h2 {
  font-size: 2.25em;
  font-weight: 600;
  line-height: 1.5em;
  margin: 0 0 0px 0;
  /* display: inline; */
}

/* small text */
h3 {
  font-size: 1.375em;
  font-weight: 300;
  line-height: 1.8em;
  margin: 0 0 0px 0;
  // display: inline;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0 0 16px 0;
}

a {
  text-decoration: none;
  // text-decoration: solid underline var(--purple);
  // text-underline-position: under;
  transition: var(--hover); // off hover
  color: black;
  position: relative;
}

a:hover {
  color: var(--purple) !important;
  // font-weight: 600 !important;
  // opacity: 0.4;
  transition: var(--hover);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  
  h3 {
    font-size: 1.3em;
    line-height: 1.7em;
  }
}