:root {
  --hover: all 0.2s ease-in-out 0s;
}

/* section heading */
h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  margin: 0 0 70px 0;
}

/* large text */
h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0 0 0px 0;
  /* display: inline; */
}

/* small text */
h3 {
  font-size: 22px;
  font-weight: 300;
  line-height: 36px;
  margin: 0 0 30px 0;
  // display: inline;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0 0 16px 0;
}

a {
  text-decoration: none;
  // text-decoration: solid underline var(--purple);
  // text-underline-position: under;
  transition: var(--hover); // off hover
  color: black;
  position: relative;
}

a:hover {
  color: var(--purple) !important;
  // font-weight: 600 !important;
  // opacity: 0.4;
  transition: var(--hover);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}